
// MIXINS

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin functioningCardHover {
    &:hover {
        background-color: #9256dc34;
        cursor: pointer;
        i {
            color: $primary-color;
        }
    }
}

@mixin btnStyle {
    font-weight: 400;
    padding: 1rem 1.6rem;
    margin-top: 1rem;
    border-radius: 2rem;           
    background: $btn-gradient;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.2s;
    &:hover {
        opacity: 0.8;
        box-shadow: rgba(0, 0, 0, 0.24) 1px 8px 10px;
    }
}

// ANIMATIONS

@keyframes fullHeart {
    0% {
        opacity: 0;
    }
    25% {
        transform-origin: left;
        opacity: 0.25;
    }
    50% {     
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}