
// MIXINS

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin functioningCardHover {
    &:hover {
        background-color: #9256dc34;
        cursor: pointer;
        i {
            color: $primary-color;
        }
    }
}