
// MIXINS

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin functioningCardHover {
    &:hover {
        background-color: #9256dc34;
        cursor: pointer;
        i {
            color: $primary-color;
        }
    }
}

@mixin btnStyle {
    font-weight: 400;
    padding: 1rem 1.6rem;
    margin-top: 1rem;
    border-radius: 2rem;           
    background: $btn-gradient;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.2s;
    &:hover {
        opacity: 0.8;
        box-shadow: rgba(0, 0, 0, 0.24) 1px 8px 10px;
    }
}

@mixin heartAnimation {
    position: relative;
    &::after {
        position: absolute;
        left: 0%;
        content: '\f004';
        background: #FF79DA;
        background: -webkit-linear-gradient(to top right, #FF79DA 0%, #9356DC 80%);
        background: -moz-linear-gradient(to top right, #FF79DA 0%, #9356DC 80%);
        background: linear-gradient(to top right, #FF79DA 0%, #9356DC 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        transition: 0.2s;
        opacity: 0;
    }
    &:hover::after {
        animation: fullHeart 0.3s ease-in-out;
        opacity: 1;
    }
}

// ANIMATIONS

@keyframes fullHeart {
    0% {
        opacity: 0;
    }
    25% {
        transform-origin: left;
        opacity: 0.25;
    }
    50% {     
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

@keyframes checkRotate {
    0% {
        transform: rotate(-240deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes fadeInCards {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes loadingIcons {
    0% {
        transform: translateX(0);               
    }
    50% {
        transform: translateY(40%);
        
    }
    100% {
        transform: translateY(-40%);            
    }
}

@keyframes loadingDots {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-40%);
    }
}

@keyframes loadingSpinnerDisappearance {
    100% {
        opacity: 0;
        z-index: -100;
    }
}