
// MIXINS

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin functioningCardHover {
    &:hover {
        background-color: #9256dc34;
        cursor: pointer;
        i {
            color: $primary-color;
        }
    }
}

// ANIMATIONS

@keyframes fullHeart {
    0% {
        opacity: 0;
    }
    25% {
        transform-origin: left;
        opacity: 0.25;
    }
    50% {     
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}