
// COLORS VARIABLES //

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$btn-gradient:linear-gradient(347deg, rgba(147,86,220,1) 21%, rgba(255,121,218,1) 98%);

// FONTS VARIABLES

$primary-font-family: 'Roboto';
$secondary-font-family: 'Shrikhand';

