
// SASS IMPORTS 

@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'base/reset';
@import 'base/typography';
@import 'layout/header';
@import 'layout/footer';


                                       // INDEX //

// SECTION 1 //


// LOADING SPINNER



    .loadingspinner {
        position: fixed;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0.9;
        background-color: white;
        z-index: 100;
        animation: loadingSpinnerDisappearance 0.01s ease-in-out;
        animation-fill-mode: both;
        animation-delay: 2s;
        .loadingspinner__icons {
            margin-bottom: 5rem;          
                .fa-solid {
                    font-size: 5rem;
                    margin-right: 2rem;
                    color: black;
                    animation: loadingIcons infinite 0.9s alternate ;
                }
                .fa-mobile-screen-button {
                    animation-delay: 0.2s;
                }
                .fa-bell-concierge {
                    animation-delay: 0.3s;
                }
                .fa-utensils {
                    animation-delay: 0.4s;
                }
        }

        .loadingspinner__dot {
            display: flex;
                .dot {
                    width: 2rem;
                    height: 2rem;
                    background-color: $tertiary-color;
                    border-radius: 50px;
                    margin: 0 0.8rem;
                    animation: loadingDots infinite 0.3s alternate;
                }
                .dot2 {
                    background-color: $secondary-color;
                    animation-delay: 0.1s;
                }
                .dot3 {
                    background-color: $primary-color;
                    animation-delay: 0.2s;
                }
        }       
    }

// LOCATION

    .location__container {
        width: 100%;
        background-color: rgba(214, 214, 214, 0.541);
        @include flexCenter;
        box-shadow: inset 0px 6px 10px -6px #00000069;
        .location__box {
            @include flexCenter;
            width: 50%;
            display: flex;
            & > * {
                margin: 5% 15px 5% 0;
                font-weight: 700;
                padding: 0.5rem 0;
            }
        }
    }

    // LOCATION RESPONSIVE

    @media screen and(min-width:768px) {
        .location__container {
            height: 3rem;
            i, p {
                font-size: 1.4rem;
            }
        }
    }


// EXPLORE

    .explore__container {
        background-color: rgba(214, 214, 214, 0.315);
        padding: 2.5rem 1.3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        & > * {
                font-size: 1.2rem;
                font-weight: 300;
                text-align: center;
                margin-bottom: 1.3rem;
        }
        h3 {
                font-weight: 900;
                font-size: 1.7rem;
                margin: 0 1rem 1rem 1rem;
        }
        .explore__btn {         
            @include btnStyle;
        }  
    }


// FUNCTIONING

    .functioning__container {
        padding: 3rem 1.5rem;
        h3 {
            font-weight: 900;
            font-size: 1.7rem;
            margin-bottom: 2rem;
        }
    }

    .functioning__bloc {
        padding-left: 0.7rem;
    }

    .functioning__card {
        position: relative;
        background-color: rgba(214, 214, 214, 0.315);
        display: flex;
        align-items: center;
        border-radius: 2rem;
        margin-bottom: 1.8rem;
        padding: 1.8rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        @include functioningCardHover;
        transition: 0.2s;
        .functioning__number {
            position: absolute;
            left: -15px;
            @include flexCenter;
            color: white;
            background-color: $primary-color;
            width: 30px;
            height: 30px;
            border-radius: 50px;
        }
        i {
            font-size: 1.5rem;
            color: rgba(104, 104, 104, 0.945);
            margin-right: 1.7rem;
            padding-left: 0.7rem;
        }
        .card__number {
            font-weight: 700;
        }
    }

    // FUNCTIONING RESPONSIVE

    @media screen and(min-width:768px) {
        .functioning__container h3 {
            margin: 0 0 2rem 1rem;
        }
        .functioning__bloc {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-left: 0;
            .functioning__card {
                width: 31%;
            }
        }
    }

                                    // SECTION 2 //

// RESTAURANTS 

    .restaurants__container {
        padding: 3rem 1.5rem;
        background-color: rgba(214, 214, 214, 0.315);
        h3 {
            font-weight: 900;
            font-size: 1.7rem;
            margin-bottom: 2rem;
        }
    }

    .restaurants__card {
        position: relative;
        height: 280px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 1.5rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-bottom: 2rem;
        a {
            width: 100%;
            height: 100%;
        }
    }

    .new::before {
        content: 'Nouveau'; 
        position: absolute;
        top: 1rem;
        right: 1rem; 
        z-index: 10;   
        @include flexCenter;
        height: 2rem;
        width: 7rem;
        background-color: $tertiary-color;
        color: #38947f;
        font-size: 1.1rem;
        font-weight: 700;
        border-radius: 0.2rem;
    }


    .card__picture {
        height: 70%;
        img {
            position: relative;
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 1.5rem 1.5rem 0 0;
        }
    }
    
    .card__description {
        height: 30%;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .description__text {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            h5 {
                font-size: 1.3rem;
                font-weight: 800;
                margin-bottom: 0.3rem;
            }
            p {
                font-size: 1.1rem;
            }
        }
    }

    .description__icon {
        font-size: 2rem;
        margin-right: 1rem;
        .fa-regular {
            @include heartAnimation;
        }    
    }

    // RESTAURANTS REPSONSIVE 

    @media screen and(min-width:768px) {
        .restaurants__container h3 {
            margin-left: 1rem;
        }
        .restaurants__bloc {
            display: flex;
            flex-flow: row wrap;
        }
        .restaurants__card {
            width: 45%;
            margin: 1rem auto;
        }
    }

    @media screen and(min-width:992px) {
        .restaurants__card {
            width: 23%;
        }
    }



                                // MENU 1 LA PALETTE DU GOUT //

// SECTION 1



.menu__img {
    width: 100%;
    height: 20rem;
    background-position: center;
    background-size: cover;
}

.img__menu1 {
    background-image: url(../images/restaurants/lapalettedugout.jpg);
}
.img__menu2 {
    background-image: url(../images/restaurants/lanoteenchantee.jpg);
}
.img__menu3 {
    background-image: url(../images/restaurants/alafrancaise.jpg);
}
.img__menu4 {
    background-image: url(../images/restaurants/ledelicedessens.jpg);
}

.menu__bloc {
    border-radius: 3rem 3rem 0 0;
    margin-top: -4rem;
    background-color: rgb(247, 247, 247);
    padding: 2rem 1.5rem;
}

.menu__titleandicon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    h2 {
        font-size: 2.2rem;
    }
    i {
        cursor: pointer;
        @include heartAnimation;
    }
}

.category__title {
    margin: 2rem 0 1rem 0.3rem;
    font-size: 1.2rem;
    .titleunderline {
        height: 3px;
        width: 3rem;
        background-color: $tertiary-color;
        margin-top: 5px;
    }
}

.category__bloc {
    animation: fadeInCards 1s ease-in-out ;
    transition: 0.2s ease-in-out;
}
.dishes {
    animation: fadeInCards 1.4s ease-in-out ;
}
.dessert {
    animation: fadeInCards 1.7s ease-in-out ;
}



.category__card {
    position: relative;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    &:hover .card__checkbox {
        transform: translateX(-100%);
        display: flex;
    }
    &:hover i {
        animation: checkRotate 0.8s ease-in-out;
    }
    &:hover .card__price {
        margin-right: 4.5rem;
    }

    .card__checkbox {
        position: absolute;
        bottom: 0;
        right: -5.2rem;
        width: 5rem;
        height: 100%;
        @include flexCenter;
        background-color: $tertiary-color;
        border-radius: 0 1rem 1rem 0;
        transition: 0.4s ease-in-out;
        i {
            font-size: 1.6rem;
            color: white;
        }
    }
    .card__title h6{
        font-weight: 800;
        font-size: 1.4rem;
        margin-bottom: 0.3rem;
        padding-right: 4rem;
    }
    .card__textandprice {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .card__price {
            font-weight: 800;
            margin-left: 1rem;
            transition: 0.4s ease-in-out;
            white-space: initial;
            overflow: initial;
            text-overflow: initial;
        }
    }
}

.menu__btn {
    @include flexCenter;
    @include btnStyle;
    width: 20rem;
    margin: 3rem auto;
}


    // SECTION 1 MENU RESPONSIVE //

    @media screen and(min-width:992px) {
        .menu__bloc {
            width: 60rem;
            margin: -4rem auto;
        }
        .menu__btn {
            margin-bottom: 6rem;
        }
    }