
// SASS IMPORTS 

@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'base/reset';
@import 'base/typography';
@import 'layout/navigation';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'components/buttons';




// SECTION 1 //
// LOCATION

    .location__container {
        width: 100%;
        background-color: rgba(214, 214, 214, 0.541);
        @include flexCenter;
        box-shadow: inset 0px 6px 10px -6px #00000069;
        .location__box {
            @include flexCenter;
            width: 50%;
            display: flex;
            & > * {
                margin: 5% 15px 5% 0;
                font-weight: 700;
            }
        }
    }

    // LOCATION RESPONSIVE

    @media screen and(min-width:768px) {
        .location__container {
            height: 3rem;
            i, p {
                font-size: 1.4rem;
                font-weight: 00;
            }
        }
    }


// EXPLORE

    .explore__container {
        background-color: rgba(214, 214, 214, 0.315);
        padding: 2.5rem 1.3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        & > * {
                font-size: 1.2rem;
                font-weight: 300;
                text-align: center;
                margin-bottom: 1.3rem;
        }
        h3 {
                font-weight: 900;
                font-size: 1.7rem;
                margin: 0 1rem 1rem 1rem;
        }
        a {         
            font-weight: 400;
            padding: 1rem 1.6rem;
            margin-top: 1rem;
            border-radius: 2rem;           
            background: $btn-gradient;
            color: white;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            &:hover {
                opacity: 0.8;
            }
        }  
    }



