
//  FOOTER

.footer__container {
    padding: 2rem 2rem 1rem 2rem;
    background-color: #353535;
    color: white;
    .footer__title {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .footer__links {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        li {
            margin-bottom: 0.5rem;
            a {
                color: white;
                font-size: 1.1rem;
            }
        }
        i {
            font-size: 1rem;
            margin-right: 0.7rem;
        }
        .fa-utensils {
            padding-right: 0.35rem;
        }
    }
}


    // FOOTER RESPONSIVE 

    @media screen and(min-width:768px) {
        .footer__container > * {
            @include flexCenter;
        }
        .footer__links ul li {
            @include flexCenter;
        }
    }
