
// HEADER

.indexheader {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0 1rem 0;
    @include flexCenter;
    .head__img {
        @include flexCenter;
        width: 50%;
        img {
            min-width: 12rem;
            max-width: 18rem;
        }
    }
}

    // HEADER RESPONSIVE

@media screen and(min-width:768px) {
    .indexheader {
        height: 6rem;
    }
}