// IMPORT FONTS

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

// FONTS

* {
    font-family: $primary-font-family;
}

h1,h2 {
    font-family: $secondary-font-family;
}