// IMPORT FONTS

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap');

// FONTS

* {
    font-family: $primary-font-family;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $secondary-font-family;
}